
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anuphan:wght@300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    /* font-family: 'DynaPuff', cursive; */
}
a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(menu.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0;
    font-family: 'DynaPuff', cursive; 
    
}
.header-logo{
    font-size: 25px;
    letter-spacing: 4px;
    border-bottom: 5px solid green;
    border-radius: 35px;
    padding-bottom: 10px;
    


}

ul{
    display: flex;
    letter-spacing: 3px;
}
li{
    margin-left: 27px;
  
}
a{
    color: darkgreen;
    font-weight: bold;
    font-size: 20px;

}
.header-text{
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translateX(-14%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
h1{
    letter-spacing: 4px;
   
    font-family: 'Kalam', cursive;
}
.first-letter{
    font-size: 3rem;
    font-family: 'Kalam', cursive;
}
h3{
    font-family: 'Anuphan', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.btn-cv{
    display: block;
    background-color:darkgrey;
    padding: 15px 25px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 43px;
    font-family: 'DynaPuff', cursive; 
  
}
/*  About*/
.about{
    margin-bottom: 150px;
    

}

.about-tittle{

    margin: 60px 0;
    font-family: 'DynaPuff', cursive; 

}
.about-tittle h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: brown;
    font-size: 30px;
    font-weight: 500;

}

.about-tittle h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: brown;
    margin: 0 auto;
    display:block;
    margin-top: 10px;
}

.about-content{
    display:flex;
    align-items:center;
    justify-content: space-around;

}
.about-img{
    width: 40%;
  

}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px silver

    
}
.about-text{
    width: 40%;

}
/* h4{
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    color: brown;
    text-shadow: 0px 0px 5px silver;
    font-family: 'DynaPuff', cursive; 
 
} */

.about-text p{
    text-align: center;
    color: #2c272c;
}

/* portf */

.portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;

}
.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: saddlebrown;
    position: absolute;
    top: 100%;
    opacity: 0.8;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}

.portfolio-item:hover .overlay{
    top:0;
}
.portfolio-item:hover img{
    transform: scale(1.1);
}

/* Contact */

.contact{
    padding: 10px 0;

}
.contact h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: brown;
    font-size: 30px;
    font-weight: 500;
    margin: 60px 0;
    font-family: 'DynaPuff', cursive; 

}
.contact h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: brown;
    margin: 0 auto;
    display:block;
    margin-top: 10px;
}
.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
   
}

.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
   
    flex-direction: column;

}
.contact-item i{
  

    font-size: 25px;
    margin-bottom: 30px;
   

}

.contact-item p{
    font-size: 24px;
    line-height: 33px;
    font-family: 'Anuphan', sans-serif;

}

/* projeler */
.project{
    padding-bottom: 100px;
}


.col-md-4{
    padding-bottom: 50px;
    
  
}
.card {
    background-color: #E4C9C4;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
   
}





